body {
    font-family: 'Merriweather', serif;
    color: var(--dark-color);
    background-color: #FFFFFF;
}

.marker-underline {
    border-bottom: 0.2cm solid var(--highlight-color);
}

.marker {
    background-color: var(--highlight-color);
}

a {
    color: var(--dark-color);
}

a:hover {
    color: var(--highlight-color);
}

.tag {
    display: inline-block;
    font-size: 8px;
    margin: 2px;
    padding: 3px;
    color: var(--dark-color);
    background-color: var(--background-color);
}

.tag:hover {
    color: var(--dark-color);
    background-color: var(--highlight-color);
}

.icon {
    position: relative;
    top: 3px;
    right: 35px;
}

.icon i {
    position: absolute;
    z-index: 100;
}

@-moz-document url-prefix() {
    .icon {
        top: -12px !important;
    }
}

.loader {
    font-size: 32px;
    text-align: center;
    border: none;
}

.page404 {
    font-size: 32px;
    text-align: center;
    border: none;
}

.page404sub {
    font-size: 18px;
    text-align: center;
    border: none;
}

.page404sub a {
    border-bottom-style: dotted;
}


#qrcode {
    text-align: center;
}

#qrcaption {
    text-align: center;
}

:root {
    --dark-color: #111111;
    --highlight-color: #4AD5CA;
    --background-color: #F3F3F3;
}