<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='description' content='Archive of published work'>
  <meta name='keywords' content='ck, constantine, korikov, archive, cv'>
  <meta name='author' content='Constantine Korikov'>
  <meta name="yandex-verification" content="0a551e133431e226" />
  <title>Constantine Korikov Archive</title>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap&subset=cyrillic'
    rel='stylesheet'>
  <link rel='stylesheet' href='https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel='stylesheet' href='assets/milligram.min.css'>
  <link rel='stylesheet' href='assets/style.css'>
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
</head>

<body>
  <div class='container'>

    <div class='row' style='padding-top:10%'>
      <div class='column column-60 column-offset-20'>
        <h4>Constantine Korikov<span class='marker'>_</span></h4>
      </div>
    </div>

    <div class='row'>
      <div class='column column-60 column-offset-20'><input id='request' type='text'></div>
    </div>

    <div id="messagecontainer" class='row' style='padding-top:0.5cm; display:none'>
      <div class='column column-20'></div>
      <div class='column column-60'>
        <blockquote>
          <p><em id="message"></em></p>
        </blockquote>
      </div>
      <div class='column column-20'></div>
    </div>

    <div id="qrcontainer" class='row' style='padding-top:0.5cm; display:none'>
      <div class='column column-20'></div>
      <div class='column column-60'>
      <table>
        <tr><td id="qrcode"><a href="#"></a></td></tr>
        <tr><td id="qrcaption"></td><tr>
        <tr><td id="qrlink"><a href=""></a></td><tr>
      </table>
    </div>
    <div class='column column-20'></div>
    </div>

    <div id="publicationscontainer" class='row' style='padding-top:0.5cm'>
      <div class='column column-20'></div>
      <div class='column column-60'>
        <table>
          <tbody>
            $content
        </tbody>
        </table>
      </div>
      <div class='column column-20'></div>
    </div>
  </div>
  <script src='https://cdn.jsdelivr.net/npm/kjua@0.6.0/dist/kjua.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js'></script>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script src="https://unpkg.com/lunr-languages/lunr.stemmer.support.js"></script>
  <script src="https://unpkg.com/lunr-languages/lunr.multi.js"></script>
  <script src="https://unpkg.com/lunr-languages/lunr.ru.js"></script>
  <script src='assets/logic.js'></script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(54620479, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/54620479" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>

</html>
