{{- $type_slug := .title | urlize -}}
<section class="group_type" id="{{ $type_slug }}">
  <h2 class="group_type__title">{{ .title }}</h2>
  {{- if .items }}
    {{- range .items }}
      {{- partial "group_year.html" (merge . (dict "type_slug" $type_slug)) -}}
    {{- end -}}
  {{- else if .pages }}
    {{- range .pages }}
      {{- $meta := .Params.school -}}
      {{- $lectureCount := len (.Params.lectures | default slice) -}}
      {{- if $lectureCount }}
        {{- $meta = printf "%s, %d lectures" $meta $lectureCount -}}
      {{- end -}}
      {{- $year_id := printf "%s-%v" $type_slug .Params.year -}}
      <div class="group_year" id="{{ $year_id }}">
        <div class="group_year__title"><a href="#{{ $year_id }}" class="group_year__anchor">{{ .Params.year }}</a></div>
        <div class="items">
          {{- partial "item.html" (dict
            "title" .Title
            "url" (.Params.url | default .RelPermalink)
            "pdf" .Params.pdf
            "tags" .Params.tags
            "meta" $meta
          ) -}}
        </div>
      </div>
    {{- end -}}
  {{- end -}}
</section>
